<template>
  <div class="welcome">
    <p>
        Welcome to our website !
    </p>
  </div>
</template>

<script>
export default {
  name: "Welcome"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
